<!DOCTYPE html>

<html>
  
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body background="/img/b1.jpg">
        {{>header}}
          <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="mes-1"></p>
        <p id="mes-2"></p>
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>
</html>